/* custom-styles.css */
[x-cloak] {
    display: none;
}

:root {
    --exito: #3ab65c;
    --error: #bf333b;
    --info: #1898c0;
    --warning: #bc8c12;
    --exito-hover: #2d8a46;
    --error-hover: #962a31;
    --info-hover: #147fa0;
    --warning-hover: #9b7512;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    /* overflow-y: hidden; */
}

header {
    position: fixed;
    top: 0;
    left: 0;

    background-color: greenyellow;
    height: 100px;
    width: 100%;
}

main {
    margin-top: 120px;
    /* Altura del encabezado + margen */
    overflow-y: auto;
}

footer {
    position: fixed;
    /* Cambio a position: fixed; */
    bottom: 0;
    background-color: greenyellow;
    height: 20px;
    width: 100%;
    margin-top: 120px;
    /* Altura del encabezado + margen */

    /* position: sticky;
                bottom: 0;
                background-color: greenyellow;
                height: 20px;
                width: 100%; */
}